<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fashionmanager.kim.develop.mapper.MessageCategoryMapper">
    <resultMap id="messageCategoryMap" type="fashionmanager.kim.develop.dto.MessageCategoryDTO">
        <id property="messageCategoryNum" column="NUM"/>
        <result property="messageCategoryName" column="NAME"/>
    </resultMap>
    <select id="selectAllMessageCategories" resultMap="messageCategoryMap">
        SELECT
            A.NUM
             , A.NAME
        FROM MESSAGE_CATEGORY A
    </select>
</mapper>