<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fashionmanager.mapper.FashionPostMapper">
    <sql id="criteria">
        <trim prefix="WHERE" prefixOverrides="OR">
            <if test='type != null and type.contains("T")'>
                OR fp.title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test='type != null and type.contains("W")'>
                OR m.name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </trim>
    </sql>
    <resultMap id="selectAllFashionPostMap" type="fashionmanager.dto.SelectAllFashionPostDTO">
        <id property="num" column="num"/>
        <result property="title" column="title"/>
        <result property="memberNum" column="member_num"/>
        <result property="memberName" column="member_name"/>
        <result property="good" column="good"/>
        <result property="cheer" column="cheer"/>
    </resultMap>
    <select id="findAll" resultMap="selectAllFashionPostMap">
        SELECT
               fp.num
             , fp.title
             , fp.member_num
             , fp.good
             , fp.cheer
             , m.name AS member_name
          FROM fashion_post fp
          LEFT JOIN
               member m ON fp.member_num = m.num
         ORDER BY fp.num desc;
    </select>
    <select id="getListWithPaging" resultMap="selectAllFashionPostMap">
        SELECT
            fp.num, fp.title, fp.member_num, fp.good, fp.cheer, m.name AS member_name
          FROM
               fashion_post fp
          LEFT JOIN
                   member m ON fp.member_num = m.num
          <include refid="criteria"></include>
         ORDER BY
             fp.num DESC
         LIMIT #{amount} OFFSET ${(pageNum - 1) * amount}
    </select>
    <select id="getTotalCount" resultType="_int">
        SELECT
               count(*)
          FROM fashion_post fp
          LEFT JOIN
               member m ON fp.member_num = m.num
    </select>
    <resultMap id="selectDetailPostResultMap" type="fashionmanager.dto.SelectDetailFashionPostDTO">
        <id property="num" column="post_num"/>
        <result property="title" column="post_title"/>
        <result property="content" column="post_content"/>
        <result property="good" column="post_good"/>
        <result property="cheer" column="post_cheer"/>
        <result property="temp" column="temp"/>
        <result property="memberNum" column="member_num"/>
        <result property="memberName" column="member_name"/>

        <collection property="items" ofType="fashionmanager.dto.ItemDTO">
            <id property="num" column="item_num"/>
            <result property="name" column="item_name"/>
        </collection>

        <collection property="hashtags" ofType="fashionmanager.dto.ResponseHashtagsDTO">
            <id property="num" column="tag_num"/>
            <result property="name" column="tag_name"/>
        </collection>

        <collection property="photos" ofType="fashionmanager.dto.PhotoDTO">
            <id property="num" column="photo_num"/>
            <result property="name" column="photo_name"/>
            <result property="path" column="photo_path"/>
            <result property="photoCategoryNum" column="photo_category_num"/>
        </collection>
    </resultMap>
    <select id="findById" resultMap="selectDetailPostResultMap">
        SELECT
               fp.num AS post_num
             , fp.title AS post_title
             , fp.content AS post_content
             , fp.member_num
             , m.name AS member_name
             , fp.good AS post_good
             , fp.cheer AS post_cheer
             , fi.num AS item_num
             , fi.name AS item_name
             , ht.num AS tag_num
             , ht.name AS tag_name
             , p.num AS photo_num
             , p.name AS photo_name
             , p.path AS photo_path
             , p.photo_category_num
          FROM fashion_post fp
          LEFT JOIN member m ON fp.member_num = m.num
          LEFT JOIN post_item pi ON fp.num = pi.post_num
          LEFT JOIN fashion_item fi ON pi.item_num = fi.num
          LEFT JOIN fashion_hashtag fh ON fp.num = fh.post_num
          LEFT JOIN hash_tag ht ON fh.tag_num = ht.num
          LEFT JOIN photo p ON fp.num = p.post_num AND p.photo_category_num IN (1,4)
         WHERE fp.num = #{num}
    </select>
</mapper>